<div class="seccion5 bg-blue-dark pt-5 pb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6" *ngIf="data.datos_de_contacto">
                <h2 class="text-white size35 font-weight-700 line-height-45 letter-spacing-1-03">{{ data.datos_de_contacto.titulo }}</h2>
                <ng-container *ngFor="let info of data.datos_de_contacto.informacion">
                    <div class="row mb-2">
                        <div class="col-md-1">
                            <img [src]="info.icono" alt="Dirección">
                        </div>
                        <div class="col-md-11">
                            <h3 class="mb-0 text-white font-weight-700 size18 letter-spacing-053 line-height-22">{{ info.titulo }}</h3>
                            <p class="text-white size16 line-height-20" [innerHTML]="info.descripcion"></p>
                        </div>
                    </div>
                </ng-container>
            </div>
            <div class="col-md-6">
                <form (ngSubmit)="enviarForm(formularioFoot)" #formularioFoot="ngForm" id="formulario-foot" class="foot-contact">
                    <div class="row">
                    <div class="col-md-6">
                        <div class="form-row pt-2 pb-2">
                        <label class="size16 text-soft-white" for="nombres">Nombres</label>
                        <input type="text" class="form-control" id="nombres" name="nombres" #nombres="ngModel" [(ngModel)]="user.nombres" required>
                        <small style="color:#c30000;" *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
                            Nombres es un campo requerido.
                        </small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-row pt-2 pb-2">
                        <label class="size16 text-soft-white" for="apellidos">Apellidos</label>
                        <input type="text" class="form-control" id="apellidos" name="apellidos" #apellidos="ngModel" [(ngModel)]="user.apellidos" required>
                        <small style="color:#c30000;" *ngIf="apellidos.invalid && (apellidos.dirty || apellidos.touched)">
                            Apellidos es un campo requerido.
                        </small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-row pt-2 pb-2">
                        <label class="size16 text-soft-white" for="telefono">Número de Teléfono</label>
                        <input type="tel" class="form-control" id="telefono" name="telefono" #telefono="ngModel" [(ngModel)]="user.telefono" pattern="^\d+$" required>
                        <small style="color:#c30000;" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                            Ingrese un teléfono válido.
                        </small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-row pt-2 pb-2">
                        <label class="size16 text-soft-white" for="ciudad">Ciudad</label>
                        <input type="text" class="form-control" id="ciudad" name="ciudad" #ciudad="ngModel" [(ngModel)]="user.ciudad" required>
                        <small style="color:#c30000;" *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)">
                            Ciudad es un campo requerido.
                        </small>
                        </div>
                    </div>
                    </div>
                    
                    <div class="form-row pt-2 pb-2">
                        <label class="size16 text-soft-white" for="email">Correo Electrónico</label>
                        <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" email="true" required>
                        <small style="color:#c30000;" *ngIf="email.invalid && (email.dirty || email.touched)">
                            Ingrese un correo electrónico válido.
                        </small>
                    </div>
                
                    <div class="form-row pt-2 pb-2">
                        <label class="size16 text-soft-white" for="mensaje">Mensaje</label>
                        <textarea class="form-control h-100px mb-3" id="mensaje" name="mensaje" placeholder="Escribe aquí tu mensaje" #mensaje="ngModel" [(ngModel)]="user.mensaje" required></textarea>
                        <small style="color:#c30000;" *ngIf="mensaje.invalid && (mensaje.dirty || mensaje.touched)">
                            El mensaje es un campo requerido.
                        </small>
                    </div>
                    <div class="form-check text-center">
                        <input type="checkbox" name="acepto" #acepto="ngModel" [(ngModel)]="user.acepto" class="form-check-input" id="acepto" required>
                        <label class="size16 text-soft-white" for="acepto">Conozco y acepto la política de datos</label>
                        <small style="color:#c30000;" *ngIf="acepto.invalid && (acepto.dirty || acepto.touched)">
                            Debe aceptar las condiciones.
                        </small>
                    </div>
                    <input type="submit" class="btn btn-submit mt-4 w-25 mx-auto d-block" name="enviar" value="Enviar" [disabled]="formularioFoot.invalid">
                </form>
            </div>
        </div>
    </div>
</div>