<div class="bg-light border-right p-4" id="sidebar-wrapper">
    <div class="container">
        <div class="row" *ngIf="data.sidebar">
            <div class="col-md-7">
                <img class="img-fluid" [src]="data.sidebar.imagen" alt="Sidenav">
            </div>
            <div class="col-md-5 my-auto">
                <p class="size18 text-gray font-weight-700 letter-spacing-1-18 text-uppercase" [innerHTML]="data.sidebar.texto | safeHtml: 'html'"></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form (ngSubmit)="enviarForm(formularioSidenav)" #formularioSidenav="ngForm" id="formulario-Sidenav" class="sidenav-contact mt-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row pt-2 pb-2">
                                <label class="size16 text-gray" for="empresa">Empresa</label>
                                <input type="text" class="form-control" id="empresa" name="empresa" #empresa="ngModel" [(ngModel)]="userside.empresa" placeholder="Neuromedia Agencia Digital SAS" required>
                                <small style="color:#c30000;" *ngIf="empresa.invalid && (empresa.dirty || empresa.touched)">
                                    Empresa es un campo requerido.
                                </small>
                            </div>
                            <div class="form-row pt-2 pb-2">
                                <label class="size16 text-gray" for="nombres">Nombre completo</label>
                                <input type="text" class="form-control" id="nombres" name="nombres" #nombres="ngModel" [(ngModel)]="userside.nombres" placeholder="Nombre completo" required>
                                <small style="color:#c30000;" *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
                                    Nombres es un campo requerido.
                                </small>
                            </div>
                            <div class="form-row pt-2 pb-2">
                                <label class="size16 text-gray" for="telefono">Número de Teléfono</label>
                                <input type="tel" class="form-control" id="telefono" name="telefono" #telefono="ngModel" [(ngModel)]="userside.telefono" pattern="^\d+$" placeholder="3120000000" required>
                                <small style="color:#c30000;" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                                    Ingrese un teléfono válido.
                                </small>
                            </div>
                            <div class="form-row pt-2 pb-2">
                                <label class="size16 text-gray" for="email">Correo Electrónico</label>
                                <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="userside.email" email="true" placeholder="neuromedia@gmail.com" required>
                                <small style="color:#c30000;" *ngIf="email.invalid && (email.dirty || email.touched)">
                                    Ingrese un correo electrónico válido.
                                </small>
                            </div>
                            <div class="form-row form-group pt-2 pb-2 mb-0">
                                <label class="size16 text-gray" for="producto">Producto</label>
                                <select class="form-control tipo-producto" id="selectProducto" name="producto" #producto="ngModel" [(ngModel)]="userside.producto" required>
                                <option value="" disabled>Elija una opción</option>
                                <option>Smart Sales</option>
                                <option>On Time</option>
                                <option>Mobile Forms</option>
                                <option>Care Task</option>
                                <option>In track</option>
                                <option>On Check</option>
                                </select>
                                <small style="color:#c30000;" *ngIf="producto.invalid && (producto.dirty || producto.touched)">
                                    El Producto es un campo requerido.
                                </small>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" name="acepto" #acepto="ngModel" [(ngModel)]="userside.acepto" class="form-check-input" id="acepto" required>
                                <label class="size16 text-gray" for="acepto">Conozco y acepto la política de datos</label>
                                <small style="color:#c30000;" *ngIf="acepto.invalid && (acepto.dirty || acepto.touched)">
                                    Debe aceptar las condiciones.
                                </small>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="submit" class="float-left btn btn-smartsale-fill size15 border-radius-2 mt-4 w-100 mx-auto d-block mb-2" name="enviar" value="Solicitar demo" [disabled]="formularioSidenav.invalid">
                                </div>
                                <div class="col-md-6">
                                    <a mat-button class="line-height-1-5 p-cancel-sidebar w-100 border-radius-2 size15 btn-smartsale mt-4 mb-2 text-decoration-none" (click)="cierraTrabajemos()">Cancelar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>