<div class="sticky">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="./assets/images/logo_smartsuit.png" alt="Logo principal" class="img-logo"></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto d-lg-none d-xl-none">
                    <li class="nav-item">
                        <a class="nav-link nav-link-main" href="#">Soporte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-main" href="#">Empresa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-main" href="#">Quiero un asesor</a>
                    </li>
                </ul>
                <ul class="navbar-nav main-menu-list mr-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-link-main size14" href="#">Soporte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-main size14" href="#">Empresa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-main size14" href="#">Quiero un asesor</a>
                    </li>
                </ul>
                <ul class="navbar-nav iniciar-sesion">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle size14" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Productos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item item-smartsale" href="/smartsales">Smart Sale</a>
                            <a class="dropdown-item item-mobileforms" href="/mobileforms">Mobile forms</a>
                            <a class="dropdown-item item-onecheck" href="/onecheck">One check</a>
                            <a class="dropdown-item item-ontime" href="/ontime">On time</a>
                            <a class="dropdown-item item-caretask" href="/caretask">Care task</a>
                            <a class="dropdown-item item-intrack" href="/intrack">In track </a>
                        </div>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
</div>