<div class="container-footer">
    <footer class="bg-gray-dark pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3 class="text-white size16 font-weight-700 line-height-19 text-uppercase w-50">{{ data1.name }}</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <ul style="column-count: 2;">
                                <ng-container *ngFor="let item of data1.items">
                                    <li>
                                        <a class="size16 text-white" [href]="item.url">{{ item.title }}</a>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <h3 class="text-white size16 font-weight-700 text-uppercase mt-2">{{ data2.name }}</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <ul style="column-count: 2;">
                                <ng-container *ngFor="let item of data2.items">
                                    <li>
                                        <a class="size16 text-white" [href]="item.url">{{ item.title }}</a>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-3 my-auto">
                    <ng-container *ngFor="let logo of data3.logo_footer">
                        <a [href]="logo.instance.link_url">
                            <img class="img-fluid" [src]="logo.instance.url" alt="Logo Footer">
                        </a>
                    </ng-container>
                </div>
            </div>
        </div>
    </footer>
    <div class="content-social-bar d-none d-md-block">
        <a href="https://www.facebook.com/Smart-Suite-106026828399036/?ref=pages_you_manage" target="_blank" class="hidden-xs hidden-sm redes fb"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/smartsuite_/" target="_blank" class="hidden-xs hidden-sm redes ins"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCmm1S4jOQmUii2TEFTEA6hQ" target="_blank" class="hidden-xs hidden-sm redes youtub"><i class="fab fa-youtube"></i></a>
        <a href="https://www.linkedin.com/company/74699645/admin/" target="_blank" class="hidden-xs hidden-sm redes linkedin"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <div id="whatsapp-buble">
        <a class="whatsapp-buble-text" href="https://api.whatsapp.com/send?phone=573104910825&amp;text=Hola, quiero recibir información" target="_blank">
            <img src="https://smartsuite.app/api/wp-content/uploads/2021/12/whatsapp-texto.png" alt="escribenos">
        </a>
        <a class="whatsapp-buble" href="https://api.whatsapp.com/send?phone=573104910825&amp;text=Hola, quiero recibir información!" target="_blank" style="padding-top: .7rem; padding-bottom: .7rem;">
            <i class="fab fa-whatsapp"></i>
        </a>
    </div>
</div>