<div class="sticky-smartsale">
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="./assets/images/smartsale/smartsales-logo.png" alt="Logo principal" class="img-logo"></a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto d-lg-none d-xl-none">
                    <li class="nav-item">
                        <a class="nav-link nav-link-main" href="#">Funcionalidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-main" href="smartsales/precios">Precios</a>
                    </li>
                </ul>
                <ul class="navbar-nav main-menu-list mr-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-link-main size16" href="#">Funcionalidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-main size16" href="smartsales/precios">Precios</a>
                    </li>
                </ul>
                <button mat-raised-button class="demo-smartsale size18 border-radius-2" (click)="sidenav.open()">Demo</button>
            </div>
        </div>
    </nav>
</div>