<div class="pagina-full" id="wrapper">
    <div class="sticky-onecheck">
        <nav class="menu-secondary navbar navbar-expand-lg navbar-light bg-white box-shadow-menu">
            <div class="container">
                <a class="navbar-brand" href="/onecheck"><img src="./assets/images/onecheck/onecheck-logo.png" alt="Logo principal" class="img-logo"></a>
                <ul class="navbar-nav main-menu-list mr-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-link-main size16" href="#">Funcionalidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-main size16" href="/precios-onecheck">Precios</a>
                    </li>
                </ul>
                <button mat-raised-button class="w-15 btn-onecheck-fill size18 border-radius-2" (click)="abrirSide()">Demo</button>
            </div>
        </nav>
    </div>
    
    <div class="onecheck-page">
        <div class="sec1-principal-onecheck">
            <div class="seccion1-onecheck pt-5 position-relative">
                <div class="container">
                    <div class="row mb-5 pt-4">
                        <div class="col-md-5 mt-3">
                            <h2 class="size63 letter-spacing-1-52 line-height-66 font-weight-700 text-white ubuntu">Aumenta la productividad</h2> 
                            <p class="size22 font-weight-500 text-white letter-spacing-1-24 line-height-31">Planificando, supervisando y registrando la ejecución de rondas de tu equipo de seguridad y vigilancia con tecnología NFC.</p>
                        </div>
                        <div class="col-md-7">
                            <img class="img-fluid img-phone" src="../assets/images/onecheck/img1.png" alt="Productividad">
                        </div>
                    </div>
                </div>
            </div> 
            <div class="seccion2-onecheck">
                <div class="container">
                    <div class="row pt-3">
                        <div class="col-md-12 mb-5">
                            <h2 class="ubuntu font-weight-700 text-orange-onecheck size43 letter-spacing-1-24 line-height-52 text-center">¡Descubre One Check!</h2>
                            <p class="font-weight-300 size22 text-center line-height-31 letter-spacing-091 text-black-intrack">Una solución digital ágil y sencilla que te permitirá supervisar, planificar y monitorear a tu equipo de trabajo en tiempo real.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="funcionalidad mb-2 mr-2 ml-3 card-zoom">
                                <div class="row">
                                    <div class="col-md-3 p-0">
                                        <div class="item-img-func pt-4 pb-4">
                                            <img class="img-fluid" src="../assets/images/onecheck/solucion1.png" alt="Funcionalidad">
                                        </div>
                                    </div>
                                    <div class="col-md-9 my-auto">
                                        <p class="font-weight-300 text-gray size14 line-height-20 mb-0"><span class="font-weight-700">Una solución desarrollada para empresas de seguridad</span> o empresas prestadoras de servicios generales.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="funcionalidad mb-2 mr-2 ml-3 card-zoom">
                                <div class="row">
                                    <div class="col-md-3 p-0">
                                        <div class="item-img-func pt-4 pb-4">
                                            <img class="img-fluid" src="../assets/images/onecheck/solucion4.png" alt="Funcionalidad">
                                        </div>
                                    </div>
                                    <div class="col-md-9 my-auto">
                                        <p class="font-weight-300 text-gray size14 line-height-20 mb-0">Los supervisores tiene acceso a toda la información de las rondas realizadas a través por medio de la web, donde verán <span class="font-weight-700">gráficos y estadísticas para gestionar el sistema de vigilancia.</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-25n">
                            <div class="funcionalidad mb-2 mr-2 ml-3 card-zoom">
                                <div class="row">
                                    <div class="col-md-3 p-0">
                                        <div class="item-img-func pt-4 pb-4">
                                            <img class="img-fluid" src="../assets/images/onecheck/solucion2.png" alt="Funcionalidad">
                                        </div>
                                    </div>
                                    <div class="col-md-9 my-auto">
                                        <p class="font-weight-300 text-gray size14 line-height-20 mb-0"><span class="font-weight-700">Asigna rondas automatizadas y recorridos de vigilancia</span> programados a tu equipo de trabajo.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="funcionalidad mb-2 mr-2 ml-3 card-zoom">
                                <div class="row">
                                    <div class="col-md-3 p-0">
                                        <div class="item-img-func pt-4 pb-4">
                                            <img class="img-fluid" src="../assets/images/onecheck/solucion5.png" alt="Funcionalidad">
                                        </div>
                                    </div>
                                    <div class="col-md-9 my-auto">
                                        <p class="font-weight-300 text-gray size14 line-height-20 mb-0"><span class="font-weight-700">Reporta las novedades</span> que ocurran durante los recorridos asignados a tu equipo de rondas.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="funcionalidad mb-2 mr-2 ml-3 card-zoom">
                                <div class="row">
                                    <div class="col-md-3 p-0">
                                        <div class="item-img-func pt-4 pb-4">
                                            <img class="img-fluid" src="../assets/images/onecheck/solucion3.png" alt="Funcionalidad">
                                        </div>
                                    </div>
                                    <div class="col-md-9 my-auto">
                                        <p class="font-weight-300 text-gray size14 letter-spacing-041 line-height-17 mb-0">Realiza la trazabilidad de los lugares donde se encuentra tu equipo de trabajo <span class="font-weight-700">gracias al sistema GPS.</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="funcionalidad mb-2 mr-2 ml-3 card-zoom">
                                <div class="row">
                                    <div class="col-md-3 p-0">
                                        <div class="item-img-func pt-4 pb-4">
                                            <img class="img-fluid" src="../assets/images/onecheck/solucion6.png" alt="Funcionalidad">
                                        </div>
                                    </div>
                                    <div class="col-md-9 my-auto">
                                        <p class="font-weight-300 text-gray size14 letter-spacing-041 line-height-17 mb-0">A través de un smartphone el personal de vigilancia verá la asignación de su recorrido y podrá realizar marcaciones de control en los puntos de chequeo. <span>Códigos QR - Taks NFC</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="seccion3-onecheck pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                         <img class="img-fluid" src="../assets/images/onecheck/seccion3.png" alt="Comercial">
                    </div>
                    <div class="col-md-6 my-auto">
                        <h3 class="size28 text-orange-onecheck font-weight-700 letter-spacing-077 line-height-36 ubuntu mb-0">Tu equipo de trabajo siempre en línea</h3>
                        <p class="size28 font-weight-300 letter-spacing-077 line-height-36 text-gray">One Check es una solución que cuenta con una plataforma web y móvil para trabajar y supervisar en tiempo real los diferentes procesos de vigilancia de tu equipo.</p>
                        <img class="card-zoom img-fluid" src="../assets/images/ontime/iosPNG.png" alt="iOS">
                        <img class="card-zoom img-fluid" src="../assets/images/ontime/androidPNG.png" alt="Android">
                        <p class="font-weight-300 size18 letter-spacing-05 line-height-36 text-gray mb-0 mt-2">Monitorea a tu equipo en tiempo real</p>
                        <button mat-raised-button class="btn-onecheck-fill size15 font-weight-300 w-50 d-block border-radius-12 white-space-normal">¡Conoce más!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="seccion4-onecheck pt-100">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 my-auto">
                        <p class="text-gray font-weight-300 letter-spacing-043n line-height-36 size28"><span class="size35 font-weight-700">Integra una solución digital eficaz a todo tu equipo de trabajo</span>
                            conoce las funcionalidades móviles de One check</p>
                    </div>
                    <div class="col-md-8">
                        <div class="back-rombo">
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-card class="card-zoom tarjetas-soluciones border-radius-60 mb-3">
                                        <img class="mb-1 d-block mx-auto img-fluid" src="../assets/images/onecheck/integra1.png" alt="Icono 1">
                                        <mat-card-content>
                                            <p class="size14 line-height-20 letter-spacing-03n text-center text-gray">Autenticación de usuarios y marcaciones a través de códigos QR ó NFC</p>
                                        </mat-card-content>
                                    </mat-card>
                                    <mat-card class="card-zoom tarjetas-soluciones border-radius-60 mb-3">
                                        <img class="mb-1 d-block mx-auto img-fluid" src="../assets/images/onecheck/integra2.png" alt="Icono 2">
                                        <mat-card-content>
                                            <p class="size14 line-height-20 letter-spacing-03n text-center text-gray">Validación de tareas personalizadas por punto de marcación</p>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                <div class="col-md-4 mt-80n">
                                    <mat-card class="card-zoom tarjetas-soluciones border-radius-60 mb-3">
                                        <img class="mb-1 d-block mx-auto img-fluid" src="../assets/images/onecheck/integra3.png" alt="Icono 3">
                                        <mat-card-content>
                                        <p class="size14 line-height-20 letter-spacing-03n text-center text-gray">Registro de entradas y salidas</p>
                                        </mat-card-content>
                                    </mat-card>
                                    <mat-card class="card-zoom tarjetas-soluciones border-radius-60 mb-3">
                                        <img class="mb-1 d-block mx-auto img-fluid" src="../assets/images/onecheck/integra4.png" alt="Icono 4">
                                        <mat-card-content>
                                          <p class="size14 line-height-20 letter-spacing-03n text-center text-gray">Notificaciones PUSH y actualizaciones automáticas</p>
                                        </mat-card-content>
                                    </mat-card>
                                    <mat-card class="card-zoom tarjetas-soluciones border-radius-60 mb-3">
                                        <img class="mb-1 d-block mx-auto img-fluid" src="../assets/images/onecheck/integra5.png" alt="Icono 4">
                                        <mat-card-content>
                                          <p class="size14 line-height-20 letter-spacing-03n text-center text-gray">Trabajo off line</p>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                                <div class="col-md-4">
                                    <mat-card class="card-zoom tarjetas-soluciones border-radius-60 mb-3">
                                        <img class="mb-1 d-block mx-auto img-fluid" src="../assets/images/onecheck/integra6.png" alt="Icono 3">
                                        <mat-card-content>
                                        <p class="size14 line-height-20 letter-spacing-03n text-center text-gray">Visor de rondas asignadas y puntos de marcación</p>
                                        </mat-card-content>
                                    </mat-card>
                                    <mat-card class="card-zoom tarjetas-soluciones border-radius-60 mb-3">
                                        <img class="mb-1 d-block mx-auto img-fluid" src="../assets/images/onecheck/integra7.png" alt="Icono 3">
                                        <mat-card-content>
                                        <p class="size14 line-height-20 letter-spacing-03n text-center text-gray">Registro de incidencias por punto con botón de alerta</p>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <h2 class="size32 font-weight-700 text-center ubuntu letter-spacing-1-28 line-height-36 text-orange-onecheck mb-0">Cuenta con funcionalidades para supervisar</h2>
                        <p class="text-center size32 font-weight-400 text-center letter-spacing-1-28 line-height-36 text-gray">desde la web tu sistema de gestión de rondas</p>
                    </div>
                    <div class="col">
                        <img class="img-fluid d-block mx-auto mb-3" src="../assets/images/onecheck/funcionalidad1.png" alt="Funcionalidad">
                        <p class="text-center font-weight-500 size14 letter-spacing-05 line-height-20 text-black-intrack">Autenticación de usuarios</p>
                    </div>
                    <div class="col">
                        <img class="img-fluid d-block mx-auto mb-3" src="../assets/images/onecheck/funcionalidad2.png" alt="Funcionalidad">
                        <p class="text-center font-weight-500 size14 letter-spacing-05 line-height-20 text-black-intrack">Panel de operación y configuración de todas las herramientas</p>
                    </div>
                    <div class="col">
                        <img class="img-fluid d-block mx-auto mb-3" src="../assets/images/onecheck/funcionalidad3.png" alt="Funcionalidad">
                        <p class="text-center font-weight-500 size14 letter-spacing-05 line-height-20 text-black-intrack">Visor de rondas gestionadas e incidencias reportadas</p>
                    </div>
                    <div class="col">
                        <img class="img-fluid d-block mx-auto mb-3" src="../assets/images/onecheck/funcionalidad4.png" alt="Funcionalidad">
                        <p class="text-center font-weight-500 size14 letter-spacing-05 line-height-20 text-black-intrack">Administración de clientes</p>
                    </div>
                    <div class="col">
                        <img class="img-fluid d-block mx-auto mb-3" src="../assets/images/onecheck/funcionalidad5.png" alt="Funcionalidad">
                        <p class="text-center font-weight-500 size14 letter-spacing-05 line-height-20 text-black-intrack">Envío de alertas, notificaciones</p>
                    </div>
                </div>
            </div>
            <div class="seccion5-onecheck">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="img-fluid d-block mx-auto mb-3" src="../assets/images/onecheck/seccion5.png" alt="Gestión">
                        </div>
                        <div class="col-md-7 my-auto">
                            <p class="text-black-intrack size30 font-weight-300 letter-spacing-069 line-height-42"><span class="text-orange-onecheck font-weight-700">Brindale a tu equipo encargado de la gestión de rondas  una aplicación funcional</span>
                                que que automatiza la productividad de sus procesos de forma ágil y segura.</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <a class="w-100 border-radius-11 btn-onecheck-fill size15 text-decoration-none mb-2 mt-2" mat-raised-button href="#" target="_blank">Conoce más aquí</a>
                                </div>
                                <div class="col-md-4">
                                    <a class="w-100 border-radius-11 size15 text-gray btn-onecheck text-decoration-none mb-2 mt-2" mat-raised-button href="#" target="_blank">¡Solicita un DEMO!</a>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="seccion6-onecheck pt-50 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row justify-content-end mb-2">
                            <div class="beneficio d-flex p-2 mr-2">
                                <img class="img-fluid d-inline-block float-left mr-2" src="./assets/images/onecheck/beneficio2.png" alt="Implementación">
                                <p class="size18 font-weight-700 line-height-22 letter-spacing-05 text-gray d-flex align-self-center mb-0">Soporte 24/7</p>
                            </div>
                            <div class="beneficio d-flex p-2">
                                <img class="img-fluid d-inline-block float-left mr-2" src="./assets/images/onecheck/beneficio1.png" alt="Implementación">
                                <p class="size18 font-weight-700 line-height-22 letter-spacing-05 text-gray d-flex align-self-center mb-0">Implementación rápida</p>
                            </div>
                        </div>
                        <div class="row justify-content-end mb-2">
                            <div class="beneficio d-flex p-2 mr-2">
                                <img class="img-fluid d-inline-block float-left mr-2" src="./assets/images/onecheck/beneficio3.png" alt="Implementación">
                                <p class="size18 font-weight-700 line-height-22 letter-spacing-05 text-gray d-flex align-self-center mb-0">Seguro, fácil y rápido aprendizaje</p>
                            </div>
                            <div class="beneficio d-flex p-2">
                                <img class="img-fluid d-inline-block float-left mr-2" src="./assets/images/onecheck/beneficio4.png" alt="Implementación">
                                <p class="size18 font-weight-700 line-height-22 letter-spacing-05 text-gray d-flex align-self-center mb-0">Infraestructura 24/7</p>
                            </div>
                        </div>
                        <div class="row justify-content-end mb-2">
                            <div class="beneficio d-flex p-2">
                                <img class="img-fluid d-inline-block float-left mr-2" src="./assets/images/onecheck/beneficio5.png" alt="Implementación">
                                <p class="size18 font-weight-700 line-height-22 letter-spacing-05 text-gray d-flex align-self-center mb-0">Acompañamiento durante el proceso de implementación</p>
                            </div>
                        </div>
                        <div class="row justify-content-end mb-2">
                            <div class="beneficio d-flex p-2">
                                <img class="img-fluid d-inline-block float-left mr-2" src="./assets/images/onecheck/beneficio6.png" alt="Implementación">
                                <p class="size18 font-weight-700 line-height-22 letter-spacing-05 text-gray d-flex align-self-center mb-0">Actualizaciones y mantenimiento</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <p class="size35 font-weight-300 text-gray letter-spacing-097 line-height-36"><span class="font-weight-700">Haz parte de los beneficios</span> que harán tu equipo más productivo y tu negocio más rentable  </p>
                        <button mat-raised-button class="text-decoration-none btn-onecheck-fill size15 border-radius-11 font-weight-300">¡Empecemos a trabajar!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="seccion7-onecheck pt-50 pb-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="size35 font-weight-700 letter-spacing-097 line-height-46 text-orange-onecheck text-center ubuntu clientes-title-onecheck mb-4">Nuestros clientes</h2>
                    </div>
                    <div class="col">
                        <div class="cliente-onecheck card-zoom">
                            <img class="img-fluid" src="./assets/images/onecheck/cliente1.png" alt="slide1" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="cliente-onecheck card-zoom">
                            <img class="img-fluid" src="./assets/images/onecheck/cliente2.png" alt="slide2" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="cliente-onecheck card-zoom">
                            <img class="img-fluid" src="./assets/images/onecheck/cliente3.png" alt="slide3" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="cliente-onecheck card-zoom">
                            <img class="img-fluid" src="./assets/images/onecheck/cliente4.png" alt="slide4" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="cliente-onecheck card-zoom">
                            <img class="img-fluid" src="./assets/images/onecheck/cliente5.png" alt="slide5" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="cliente-onecheck card-zoom">
                            <img class="img-fluid" src="./assets/images/onecheck/cliente6.png" alt="slide6" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5 pt-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="bg-orange-onecheck border-radius-30 p-5 box-shadow-0-2-24">
                            <h2 class="text-center text-white size25 font-weight-700 letter-spacing-071 line-height-29">¡Adquiere una solución completa para tu empresa!</h2>
                            <p class="size19 letter-spacing-091 line-height-29 text-white text-center font-weight-300"><span class="font-weight-700">One Check</span> te ofrece la posibilidad de integrar otras herramientas de trabajo para que amplies y optimices mejor la gestión de tus procesos empresariales.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-5 pt-3">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-fluid" src="./assets/images/onecheck/seccion7.png" alt="Solución Eficaz" />
                    </div>
                    <div class="col-md-6 my-auto">
                        <h3 class="ubuntu text-orange-onecheck font-weight-700 size22 letter-spacing-071 line-height-32 mb-0">Garantiza la óptima gestión de tu sistema de rondas con nuestra aplicación One Check</h3>
                        <p class="text-black-intrack size22 letter-spacing-071 line-height-32">Suscripción mensual a partir de: <span class="font-weight-700">$15 USD</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white pt-5 pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-fluid mx-auto d-block mb-2" src="./assets/images/logo_smartsuit.png" alt="Logo Smartsuite">
                        <p class="text-center text-gray size16 letter-spacing-009 line-height-24">Contamos con múltiples soluciones para que optimices la gestión de todas tus áreas de trabajo.</p>
                        <h3 class="font-weight-700 size26 text-black-dark text-center">¡Conoce nuestra suite y amplia tu paquete!</h3>
                        <a class="mx-auto w-15 d-block border-radius-25 size15 btn-onecheck-fill text-decoration-none" mat-raised-button href="#" target="_blank">Conócela aquí</a>
                    </div>
                </div>
            </div>
        </div>
        <app-animate-contacto></app-animate-contacto>
    </div>
    <div class="bg-light border-right p-4" id="sidebar-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <img class="img-fluid" src="./assets/images/onecheck/sidenav.png" alt="Sidenav">
                </div>
                <div class="col-md-5 my-auto">
                    <p class="size21 text-gray font-weight-700 letter-spacing-1-28 line-height-24 text-uppercase">Estás a punto de conocer la mejor herramienta para tu trabajo</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form (ngSubmit)="enviarForm(formularioSidenav)" #formularioSidenav="ngForm" id="formulario-Sidenav" class="sidenav-contact p-3">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-row pt-2 pb-2">
                                    <label class="size16 text-gray" for="empresa">Empresa</label>
                                    <input type="text" class="form-control" id="empresa" name="empresa" #empresa="ngModel" [(ngModel)]="userside.empresa" placeholder="Neuromedia Agencia Digital SAS" required>
                                    <small style="color:#c30000;" *ngIf="empresa.invalid && (empresa.dirty || empresa.touched)">
                                        Empresa es un campo requerido.
                                    </small>
                                </div>
                                <div class="form-row pt-2 pb-2">
                                    <label class="size16 text-gray" for="nombres">Nombre completo</label>
                                    <input type="text" class="form-control" id="nombres" name="nombres" #nombres="ngModel" [(ngModel)]="userside.nombres" placeholder="Nombre completo" required>
                                    <small style="color:#c30000;" *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
                                        Nombres es un campo requerido.
                                    </small>
                                </div>
                                <div class="form-row pt-2 pb-2">
                                    <label class="size16 text-gray" for="telefono">Número de Teléfono</label>
                                    <input type="tel" class="form-control" id="telefono" name="telefono" #telefono="ngModel" [(ngModel)]="userside.telefono" pattern="^\d+$" placeholder="3120000000" required>
                                    <small style="color:#c30000;" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                                        Ingrese un teléfono válido.
                                    </small>
                                </div>
                                <div class="form-row pt-2 pb-2">
                                    <label class="size16 text-gray" for="email">Correo Electrónico</label>
                                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="userside.email" email="true" placeholder="neuromedia@gmail.com" required>
                                    <small style="color:#c30000;" *ngIf="email.invalid && (email.dirty || email.touched)">
                                        Ingrese un correo electrónico válido.
                                    </small>
                                </div>
                                <div class="form-row form-group pt-2 pb-2 mb-0">
                                    <label class="size16 text-gray" for="producto">Producto</label>
                                    <select class="form-control tipo-producto" id="selectProducto" name="producto" #producto="ngModel" [(ngModel)]="userside.producto" required>
                                    <option value="" disabled>Elija una opción</option>
                                    <option>Smart Sales</option>
                                    <option>On Time</option>
                                    <option>Mobile Forms</option>
                                    <option>Care Task</option>
                                    <option>In track</option>
                                    <option>On Check</option>
                                    </select>
                                    <small style="color:#c30000;" *ngIf="producto.invalid && (producto.dirty || producto.touched)">
                                        El Producto es un campo requerido.
                                    </small>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" name="acepto" #acepto="ngModel" [(ngModel)]="userside.acepto" class="form-check-input" id="acepto" required>
                                    <label class="size16 text-gray" for="acepto">Conozco y acepto la política de datos</label>
                                    <small style="color:#c30000;" *ngIf="acepto.invalid && (acepto.dirty || acepto.touched)">
                                        Debe aceptar las condiciones.
                                    </small>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="submit" class="float-left btn btn-onecheck-fill size15 border-radius-2 mt-4 w-100 mx-auto d-block mb-2" name="enviar" value="Solicitar demo" [disabled]="formularioSidenav.invalid">
                                    </div>
                                    <div class="col-md-6">
                                        <a mat-button class="line-height-1-5 p-cancel-sidebar w-100 border-radius-2 size15 btn-onecheck mt-4 mb-2 text-decoration-none" (click)="cierraTrabajemos()">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>