<div class="smartsuite-page">
    <div class="background-smartsuite seccion1 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 my-auto">
                    <p class="text-black-dark size17 letter-spacing-025">Llegó la hora de ofrecerle a todas las áreas de tu negocio</p>
                    <h3 class="text-pink font-weight-300 size34 letter-spacing-05 line-height-41"><span class="font-weight-700">herramientas que optimicen su gestión</span> para garantizar los mejores resultados.</h3>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="../assets/images/seccion1.png" alt="SmartSuite">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <mat-card class="card-zoom tarjetas-services">
                        <img class="mb-1 img-fluid" src="../assets/images/onecheck.png" alt="OneCheck">
                        <mat-card-content>
                          <p class="size14 line-height-17 letter-spacing-054 text-center text-black">
                            Apoyo en la gestión de rondas de vigilancia.
                          </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-2">
                    <mat-card class="card-zoom tarjetas-services">
                        <img class="mb-1 img-fluid" src="../assets/images/smartsales.png" alt="SmartSales">
                        <mat-card-content>
                          <p class="size14 line-height-17 letter-spacing-054 text-center text-black">
                            Automatización de la gestión comercial.
                          </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-2">
                    <mat-card class="card-zoom tarjetas-services">
                        <img class="mb-1 img-fluid" src="../assets/images/onetime.png" alt="OneTime">
                        <mat-card-content>
                          <p class="size14 line-height-17 letter-spacing-054 text-center text-black">
                            Administración de la gestión de rutas escolares y empresariales.
                          </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-2">
                    <mat-card class="card-zoom tarjetas-services">
                        <img class="mb-1 img-fluid" src="../assets/images/mobileforms.png" alt="MobileForms">
                        <mat-card-content>
                          <p class="size14 line-height-17 letter-spacing-054 text-center text-black">
                            Automatización de los procesos de formularios, agendamiento y  registros.
                          </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-2">
                    <mat-card class="card-zoom tarjetas-services">
                        <img class="mb-1 img-fluid" src="../assets/images/intrack.png" alt="Intrack">
                        <mat-card-content>
                          <p class="size14 line-height-17 letter-spacing-054 text-center text-black">
                            Localización geográfica y control en tiempo real.
                          </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div class="col-md-2">
                    <mat-card class="card-zoom tarjetas-services">
                        <img class="mb-1 img-fluid" src="../assets/images/caretask.png" alt="CareTask">
                        <mat-card-content>
                          <p class="size14 line-height-17 letter-spacing-054 text-center text-black">
                            Seguimiento de las actividades de camillería.
                          </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="seccion2 mt-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 pl-0">
                    <img class="img-fluid" src="../assets/images/background1.png" alt="Background">
                </div>
                <div class="col-md-6 my-auto">
                    <div class="img-apps mb-4">
                        <img src="./assets/images/launch_iconPNG.png" alt="Apps móviles">
                      </div>
                      <h2 class="size38 font-weight-700 text-blue mb-4">Aplicaciones móviles</h2>
                      <p class="size18 font-weight-400"><strong>Eficientes y dinámicas para una óptima gestión de<br> 
                        tus procesos empresariales.</strong> Estamos presentes a<br>
                        nivel nacional e internacional diseñando y optimizando <br>
                        procesos con nuestras soluciones digitales.</p>
                      <div class="banderas">
                        <img class="img-fluid d-inline-block card-zoom" src="./assets/images/bandera-colombia.png" alt="Colombia">
                        <img class="img-fluid d-inline-block card-zoom" src="./assets/images/bandera-peru.png" alt="Perú">
                        <img class="img-fluid d-inline-block card-zoom" src="./assets/images/bandera-republica-dominicana.png" alt="Rep. Dominicana">
                        <img class="img-fluid d-inline-block card-zoom" src="./assets/images/bandera-ecuador.png" alt="Ecuador">
                      </div>
                </div>
            </div>
        </div>
    </div>
    <div class="seccion3 pt-5 bg-soft-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="d-block mx-auto mb-4" src="./assets/images/logo_smartsuit.png" alt="Logo Smartsuite">
                    <h2 class="size38 font-weight-700 line-height-46 letter-spacing-056 text-black text-center mb-2">Clientes que confiaron en nosotros</h2>
                    <p class="text-center text-black size18 letter-spacing-027">y optimizaron con éxito sus procesos</p>
                </div>
            </div>
        </div>
        <div class="contenedor mt-5 pb-5">
            <div class="gallery js-flickity" data-flickity='{ "autoPlay": true, "wrapAround": true, "prevNextButtons": false,
            "pageDots": false, "imagesLoaded": true }'>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente1.png" alt="slide1" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente2.png" alt="slide2" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente3.png" alt="slide3" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente4.png" alt="slide4" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente5.png" alt="slide5" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente6.png" alt="slide6" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente7.png" alt="slide7" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente8.png" alt="slide8" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente9.png" alt="slide9" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente10.png" alt="slide10" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente11.png" alt="slide11" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente12.png" alt="slide12" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente13.png" alt="slide13" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente14.png" alt="slide14" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente15.png" alt="slide15" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente16.png" alt="slide16" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente17.png" alt="slide17" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente18.png" alt="slide18" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente19.png" alt="slide19" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente20.png" alt="slide20" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente21.png" alt="slide21" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente22.png" alt="slide22" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente23.png" alt="slide23" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente24.png" alt="slide24" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente25.png" alt="slide25" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente26.png" alt="slide26" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente27.png" alt="slide27" />
                </div>
                <div class="carousel-cell">
                    <img class="img-fluid" src="./assets/images/cliente28.png" alt="slide28" />
                </div>
            </div>
        </div>
    </div>
    <div class="seccion4 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="img-fluid" src="./assets/images/herramienta.png" alt="Herramientas">
                </div>
                <div class="col-md-6 my-auto">
                    <h2 class="mb-3 size38 text-black mb-4 font-weight-300 line-height-46 letter-spacing-056"><span class="font-weight-700">Herramientas digitales</span> para<br> transformar tus procesos</h2>
                    <button class="pl-4 pr-4 d-block text-white bg-blue-dark letter-spacing-027 size18 font-weight-300" mat-raised-button>¡Conoce más!</button>
                </div>
            </div>
        </div>
    </div>
    <app-animate-contacto></app-animate-contacto>
</div>