<div class="sticky-ontime">
    <nav class="menu-secondary navbar navbar-expand-lg navbar-light bg-white box-shadow-menu">
        <div class="container">
            <ul class="navbar-nav main-menu-list mr-auto d-flex align-items-center">
                <ng-container *ngFor="let subitem of submenu.items">
                    <li class="nav-item">
                        <ng-container *ngIf="subitem.title_position === '' || subitem.title_position === 'after' else noURL">
                            <a class="nav-link nav-link-main size16 navbar-brand" (click)="scrollConClick(subitem.url)" style="cursor: pointer;">
                                <span class="{{ subitem.title_position }}">{{ subitem.title }}</span>
                            </a>
                        </ng-container>
                        <ng-template #noURL>
                            <a class="nav-link nav-link-main size16 navbar-brand" [routerLink]="[subitem.url]">
                                <img *ngIf="subitem.thumbnail_src" [src]="subitem.thumbnail_src" alt="Logo principal" class="img-logo">
                                <span [class]="[subitem.title_position==='after'?'':subitem.title_position]">{{ subitem.title }}</span>
                            </a>
                        </ng-template>   
                    </li>
                </ng-container>
            </ul>
            <button mat-raised-button class="demo-ontime size18 border-radius-2" (click)="abrirSide()">Demo</button>
        </div>
    </nav>
</div>