<div class="sticky-onecheck">
    <nav class="menu-secondary navbar navbar-expand-lg navbar-light bg-white box-shadow-menu">
        <div class="container">
            <ul class="navbar-nav main-menu-list mr-auto d-flex align-items-center">
                <ng-container *ngFor="let subitem of submenu.items">
                    <li class="nav-item">
                        <a class="nav-link nav-link-main size16 navbar-brand" [href]="subitem.url">
                            <img *ngIf="subitem.thumbnail_src" [src]="subitem.thumbnail_src" alt="Logo principal" class="img-logo">
                            <span class="{{ subitem.title_position }}">{{ subitem.title }}</span>
                        </a>
                    </li>
                </ng-container>
            </ul>
            <button mat-raised-button class="btn-onecheck-fill size18 border-radius-2" (click)="abrirSide()">Demo</button>
        </div>
    </nav>
</div>
