/* You can add global styles to this file, and also import other style files */

/*html, body { height: 100%; }*/
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p, ul{
    font-family: 'Ubuntu', sans-serif;
    color:#546170;
}

/* Fuente */
.ubuntu{
    font-family: 'Ubuntu', sans-serif!important;
}
/*=========*/

/* Background Colors */
.bg-gray{
    background-color: #f6f6f6;
}
.bg-soft-gray{
    background-color: #FAFAFA;
}
.bg-gray-dark{
    background-color:#222D39!important;
}
.bg-white{
    background-color: #fff;
}
.bg-blue{
    background-color: #31589A;
}
.bg-blue-dark{
    background-color: #1C1991;
}
.bg-sea-blue{
    background-color: #31DC9A;
}
.bg-soft-blue{
    background-color:#F6F8FB;
}
.bg-red{
    background-color:#F90600;
}
.bg-transparent{
    background-color:transparent;
}
.bg-orange{
    background-image: linear-gradient(169.32deg, #FEAD00 0%, #FC7500 100%);
}
.bg-green{
    background-color:#38BA38;
}
.bg-blue-caretask{
    background-color: #05D6FB;
}

/*========================*/

/* Text Colors */
.text-black{
    color:#546170;
}
.text-gray{
    color: #7C8DAA;
}
.text-white{
    color:#fff;
}
.text-blue{
    color: #31589A;
}
.text-blue-dark{
    color:#2A3B7C;
}
.text-soft-blue{
    color: #F2F3FB;
}
.text-black-dark{
    color:#2C2C2C;
}
.text-orange{
    color:#FC7500;
}
.text-soft-white{
    color:#FAFAFA;
}
.text-pink{
    color:#F83472;
}
.text-red{
    color:#F90600;
}
.text-green{
    color:#38BA38;
}
.text-dark-blue-caretask{
    color:#1C1991;
}
.text-sea-blue{
    color: #05D6FB;
}


/*==================*/

/* Font Weight */
.font-weight-200{
    font-weight:200;
}
.font-weight-300{
    font-weight:300;
}
.font-weight-400{
    font-weight:400;
}
.font-weight-500{
    font-weight:500;
}
.font-weight-600{
    font-weight:600;
}
.font-weight-700{
    font-weight:700!important;
}
.font-weight-900{
    font-weight:900;
}
/*==============*/

/* Font Sizes */
.roboto{
    font-family: 'Roboto', sans-serif;
}
.size12 {
    font-size: 12px;
}
.size13 {
    font-size: 13px;
}
.size14 {
    font-size: 14px;
}
.size15 {
    font-size: 15px;
}
.size16 {
    font-size: 16px!important;
}
.size17 {
    font-size: 17px;
}
.size18 {
    font-size: 18px;
}
.size19 {
    font-size: 19px;
}
.size20 {
    font-size: 20px;
}
.size21 {
    font-size: 21px;
}
.size22 {
    font-size: 22px!important;
}
.size24 {
    font-size: 24px!important;
}
.size25 {
    font-size: 25px!important;
}
.size26{
    font-size: 26px!important;
}
.size27{
    font-size: 27px;
}
.size28 {
    font-size: 28px!important;
}
.size29 {
    font-size: 29px!important;
}
.size30 {
    font-size: 30px!important;
}
.size32{
    font-size: 32px!important;
}
.size33{
    font-size: 33px!important;
}
.size34 {
    font-size: 34px!important;
}
.size35 {
    font-size: 35px!important;
}
.size38 {
    font-size: 38px!important;
}
.size42 {
    font-size: 42px!important;
}
.size46 {
    font-size: 46px!important;
}
.size48 {
    font-size: 48px!important;
}
.size50 {
    font-size: 50px;
}
.size51 {
    font-size: 51px;
}
/*==============*/

/* Letter Spacing */
.letter-spacing-001{
    letter-spacing: 0.01px!important;
}
.letter-spacing-001n{
    letter-spacing: -0.01px!important;
}
.letter-spacing-056{
    letter-spacing: 0.56px!important;
}
.letter-spacing-053{
    letter-spacing: 0.53px;
}
.letter-spacing-054{
    letter-spacing: 0.54px;
}
.letter-spacing-05{
    letter-spacing: 0.5px;
}
.letter-spacing-062{
    letter-spacing: 0.62px!important;
}
.letter-spacing-084{
    letter-spacing: 0.84px!important;
}
.letter-spacing-009{
    letter-spacing: 0.09px!important;
}
.letter-spacing-069{
    letter-spacing: 0.69px!important;
}
.letter-spacing-071{
    letter-spacing: 0.71px!important;
}
.letter-spacing-077{
    letter-spacing: 0.77px!important;
}
.letter-spacing-097{
    letter-spacing: 0.97px!important;
}
.letter-spacing-027{
    letter-spacing: 0.27px;
}
.letter-spacing-021{
    letter-spacing: 0.21px!important;
}
.letter-spacing-016{
    letter-spacing: 0.16px!important;
}
.letter-spacing-041{
    letter-spacing: 0.41px!important;
}
.letter-spacing-044{
    letter-spacing: 0.44px!important;
}
.letter-spacing-035{
    letter-spacing: 0.35px!important;
}
.letter-spacing-025{
    letter-spacing: 0.25px;
}
.letter-spacing-1-03{
    letter-spacing: 1.03px;
}
.letter-spacing-1-28{
    letter-spacing: 1.28px;
}
.letter-spacing-1-38{
    letter-spacing: 1.38px;
}
/*=================*/

/* Line Height */
.line-height-41{
    line-height: 41px!important;
}
.line-height-45{
    line-height: 45px!important;
}
.line-height-46{
    line-height: 46px!important;
}
.line-height-47{
    line-height: 47px!important;
}
.line-height-50{
    line-height: 50px!important;
}
.line-height-22{
    line-height: 22px!important;
}
.line-height-24{
    line-height: 24px;
}
.line-height-20{
    line-height: 20px;
}
.line-height-29{
    line-height: 29px;
}
.line-height-30{
    line-height: 30px;
}
.line-height-31{
    line-height: 31px!important;
}
.line-height-32{
    line-height: 32px!important;
}
.line-height-33{
    line-height: 33px!important;
}
.line-height-35{
    line-height: 35px!important;
}
.line-height-36{
    line-height: 36px!important;
}
.line-height-37{
    line-height: 37px!important;
}
.line-height-19{
    line-height: 19px!important;
}
.line-height-17{
    line-height: 17px!important;
}
.line-height-16{
    line-height: 16px!important;
}
/*==============*/

/* Border-Radius */
.border-radius-2{
    border-radius:2px!important;
}
.border-radius-3{
    border-radius:3px!important;
}
.border-radius-12{
    border-radius:12px;
}
.border-radius-25{
    border-radius: 25px!important;
}
.border-radius-top-table{
    border-radius: 10px 10px 0 0;
}
.border-radius-right-table{
    border-radius: 0px 10px 0 0;
}
/*============*/

/* Border Colors */
.border-orange{
    border:1px solid #FC7500 !important;
}
.border-white{
    border:1px solid #ffffff !important;
}
.border-sea-blue{
    border: 1px solid #05D6FB!important;
}
.border-dark-blue{
    border: 1px solid #1C1991!important;
}
/*===============*/

/* Margins */
.w-40{
    width:40%
}
.w-30{
    width:30%
}
.w-15{
    width:15%
}
/*============*/

/* Margins */
.mt-35n{
    margin-top: -35px;
}
.mt-80n{
    margin-top: -80px;
}
.mt-5n{
    margin-top: -3rem;
}
.mt-45{
    margin-top: 45px;
}
.mt-100{
    margin-top: 100px;
}
.mt-150{
    margin-top: 150px;
}
.mt-200{
    margin-top: 200px;
}
.mt-250{
    margin-top: 250px;
}
.mb-150{
    margin-bottom: 150px;
}
.mb-100{
    margin-bottom: 100px;
}
.mb-50{
    margin-bottom: 50px;
}
/*==================*/

/* Paddings */
.pt-50{
    padding-top: 50px;
}
.pt-150{
    padding-top: 150px;
}
.pb-150{
    padding-bottom: 150px;
}
.pt-100{
    padding-top: 100px;
}
.pb-100{
    padding-bottom: 100px;
}
.pb-50{
    padding-bottom: 50px;
}
.p-3-6{
    padding: 3.6rem!important;
}
/*===============*/

/* Height */
.h-100px{
    height: 100px!important;
}
/*=============*/

/* General Things */
.text-decoration-none{
    text-decoration: none;
}
/*=================*/

/* Header */
.mat-form-field.buscador .mat-form-field-underline{
    display:none;
}
.mat-form-field.buscador{
    border-left: 1px solid #EAEAEA;
    border-right: 1px solid #EAEAEA;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
    padding-bottom: 0.25em;
    padding-left: 10px;
    padding-right: 5px;
}
.mat-form-field.buscador .mat-form-field-infix{
    width: 100px;
    padding: .5em 0;
    border-top: .4em solid transparent;
}
.buscador .mat-form-field-label::before{
    content:"";
    background-image:url(./assets/images/search.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0px 9px;
    margin-right: 10px;
}
.buscador.mat-form-field{
    line-height:1.2!important;
}
.iniciar-sesion .nav-link::before{
    content:"";
    background-image:url(./assets/images/login.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0px 9px;
    margin-right: 10px;
}

.iniciar-sesion .nav-item.dropdown{
    margin-left: 10px;
}
.iniciar-sesion .nav-item.dropdown #navbarDropdownMenuLink{
    color: #7C8DAA;
}
.mat-form-field.buscador .mat-form-field-appearance-legacy .mat-form-field-label {
    color: #7C8DAA;
}
.main-menu-list .nav-item .nav-link{
    font-weight: 400;
    color: #7C8DAA;
}
.mat-form-field-appearance-legacy .mat-form-field-label {
    color: #7C8DAA;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
}
.iniciar-sesion .material-icons{
    display: inline-block;
    font-size: 22px;
    overflow: visible;
    vertical-align: -0.2em;
    margin-right: 5px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 20;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px #282d50;
}

.iniciar-sesion .dropdown-toggle::after{
    display: none;
}
.iniciar-sesion .nav-item.dropdown .dropdown-menu{
    padding: 0;
    margin: 0;
}
.iniciar-sesion .nav-item.dropdown .dropdown-menu .dropdown-item {
    padding: 10px 1.2rem;
    color:#7C8DAA;
    font-size:16px;
    border-left: 2px solid transparent;
}
.iniciar-sesion .nav-item.dropdown .dropdown-menu .dropdown-item:hover {
    border-left: 2px solid #4bbe4b;
}

.iniciar-sesion .nav-item.dropdown .dropdown-menu .dropdown-item.active, .iniciar-sesion .nav-item.dropdown .dropdown-menu .dropdown-item:active{
    background-color: #31589a;
}

.item-smartsale::before{
    content:"";
    background-image:url(./assets/images/1sales.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0px 9px;
    margin-right: 10px;
}
.item-mobileforms::before{
    content:"";
    background-image:url(./assets/images/2mobileforms.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0px 9px;
    margin-right: 10px;
}
.item-onecheck::before{
    content:"";
    background-image:url(./assets/images/3onecheck.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0px 9px;
    margin-right: 10px;
}
.item-ontime::before{
    content:"";
    background-image:url(./assets/images/4ontime.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0px 9px;
    margin-right: 10px;
}
.item-caretask::before{
    content:"";
    background-image:url(./assets/images/5caretask.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0px 9px;
    margin-right: 10px;
}
.item-intrack::before{
    content:"";
    background-image:url(./assets/images/6intrack.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0px 9px;
    margin-right: 10px;
}
a:-webkit-any-link:focus-visible {
    outline-offset: 0;
    outline: none;
}
/*==========*/

/* Smart Suite*/
.card-zoom:hover {
    transition: transform .3s;
    transform: scale(1.05);
}
.background-smartsuite{
    background-image: linear-gradient(180deg, #F2F2F2 0%, #FFFFFF 100%);
}
.tarjetas-services{
    border-radius: 10px!important;
    box-shadow: 4px 2px 14px 0 rgba(132, 158, 202, 0.4)!important;
    min-height: 235px;
    border: 1px solid transparent;
}
.tarjetas-services:hover{
    border: 1px solid #F83472;
    transition: .3s;
}
/*Sección 2 - Smart Suite*/
.background-smart2{
    background-image: url(./assets/images/background1.png);
    background-position: left center;
    background-size: cover;
}
/* Clientes - Carousel */

.carousel-cell {
    width: 12%; /* full width */
    height: 145px;
    background: rgb(255, 255, 255);
    box-shadow: 0 2px 4px 0 rgba(124, 141, 170, 0.4);
    /* center images in cells with flexbox */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
  }
  .flickity-viewport{
      height: 150px!important;
  }
  
  .carousel.is-fullscreen .carousel-cell {
    height: 100%;
  }
  
  .carousel-cell img {
    display: block;
    max-height: 100%;
  }

/*=============================================================================*/

/* SmartSales */
.demo-smartsale{
    background-image: radial-gradient(57.99% 83.98%, #F90600 5%, #FF5248 100%);
    padding: 0 45px!important;
    color:#fff;
}
.digitaliza-background{
    background-image: url(./assets/images/smartsale/background-digitalizar.png);
    background-position: center;
    background-size: cover;
}

.seccion1-smartsale{
    background-image: linear-gradient(180deg, #F3F3FF 0%, #FFFFFF 100%);
}
.seccion2-smartsale{
    background-image: linear-gradient(180deg, #FFFFFF 0%, #F3F3FF 100%);
}
.item-img-func{
    background-color: #F4F4FF;
    border-radius: 8px;
    box-shadow: 0 0 6px 0 #cbcbcb;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.funcionalidad{
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 0 6px 0 #CBCBCB;  
}
.seccion3-smartsale{
    position:relative
}
.seccion3-smartsale .img-back{
    width: 35%;
    position: absolute;
    right: 0;
    top: 10%;
}
.beneficio{
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(124, 141, 170, 0.4);    
}

.beneficio img{
    background-color: #fee3e2;
    border-radius: 2px;
    padding: 5px;
}
.seccion5-smartsale{
    background-image: linear-gradient(180deg, #F3F3FF 0%, #FFFFFF 100%);
}

mat-sidenav{
    width:40%;
}

#formulario-Sidenav .form-control{
    color: #2C3394;
    font-size: 16px;
    font-weight:500;  
}
#formulario-Sidenav .form-control:focus{
    border-color: 1px solid #0089FF;
    outline: none;
    box-shadow: none;
}

::placeholder{
    color: #D8DFE5!important;
    font-size: 16px;
    font-weight: 400!important;
}
.cancelar{
    border: 1px solid #F90600!important;
    border-radius: 2px!important;
}
/*============*/

/* Tabla de precios */
.dot {
    height: 19px;
    width: 19px;
    background-color: #FA110A;
    border-radius: 50%;
    display: block;
    margin:0 auto;
  }
/*=====================*/

/*** PÁGINA ONTIME ***/
.img-cards-rutas{
    background-color: #fff;
    border-radius: 7px!important;
    box-shadow: 0 0 14px 0 rgb(209 230 255 / 90%)!important;
    padding:10px!important;
}
.min-height-200{
    min-height: 200px;
}

.demo-ontime{
    background-image: linear-gradient(169.32deg, #FEAD00 0%, #FC7500 100%);
    border-radius: 25px;
    box-shadow: 10px 10px 14px 0 rgba(0, 0, 0, 0.1);  
}
.dot-ontime {
    height: 19px;
    width: 19px;
    background-image: linear-gradient(169.32deg, #FEAD00 0%, #FC7500 100%);
    border-radius: 50%;
    display: block;
    margin:0 auto;
  }

.beneficio-ontime{
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(124, 141, 170, 0.4);    
}

.beneficio-ontime img{
    background-color: #ffefe2;
    border-radius: 2px;
    padding: 5px;
}
.seccion1-ontime{
    background-image: url(./assets/images/ontime/bg_main.png);
    background-position: center right;
    background-size: cover;
}
/*=======================*/

/* PÁGINA MOBILEFORMS */
.demo-mobileforms{
    background-color: #38BA38;
    box-shadow: 10px 10px 14px 0 rgba(0, 0, 0, 0.1);  
}

.digitaliza-mobileforms{
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 0 rgba(198, 224, 198, 0.5), -3px -2px 4px 0 #ECF3EC;
}
.seccion1-mobileforms{
    background-color: #fff;
}
.beneficio-mobileforms{
    background-color: #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgba(124, 141, 170, 0.4);    
}

.beneficio-mobileforms img{
    background-color: #e8f7e8;
    border-radius: 2px;
    padding: 5px;
}

.clientes-title::before{
    content:"";
    background-image:url(./assets/images/mobileforms/icon_cliente.png);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 15px 30px;
    margin-right: 10px;
}

.dot-mobileforms {
    height: 19px;
    width: 19px;
    background-color: #38BA38;
    border-radius: 50%;
    display: block;
    margin:0 auto;
  }
/*========================*/

/* PÁGINA CARETASK */
.seccion1-caretask{
    background-image: url(./assets/images/caretask/bg_principal.png);
    background-position: center right;
    background-size: cover;
}

.seccion2-caretask{
    background-image: linear-gradient(180deg, #fafafa 0%, #FFFFFF 100%);
}

.gestion{
    background-color: #FFFFFF;
    border-radius: 32px;
    box-shadow: 0 0 16px 0 #CBCBCB;
}
.img-sec3-caretask{
    position: absolute;
    right: 0;
    top: 40%;
}
.seccion5-caretask{
    position: relative;
}
.clinica{
    position: absolute;
    bottom: -10%;
    right: 10%;
}

.seccion4-caretask{
    background-image: url(./assets/images/caretask/bg_all.png);
    background-position: center center;
    background-size: cover;
}
.dot-caretask {
    height: 19px;
    width: 19px;
    background-color: #05D6FB;
    border-radius: 50%;
    display: block;
    margin:0 auto;
  }
/*========================*/


/* Footer */
footer ul{
    list-style-type: none;
    padding-inline-start: 0;
}
/*==============*/

@media (min-width: 1920px) {
    .clinica{
        right: 35%;
    }
}