<div class="pagina-full" id="wrapper">
    <app-submenu-intrack></app-submenu-intrack>
    <ngx-skeleton-loader count="1" *ngIf="loader" animation="progress" appearance="circle" [theme]="{ 'width':'100%','height':'430px','border-radius': '10px','padding':'15px' }"></ngx-skeleton-loader>
    <div class="container">
        <ngx-skeleton-loader class="d-flex pt-3 pb-3" count="2" *ngIf="loader" animation="progress" appearance="circle" [theme]="{ 'width':'100%','height':'250px','border-radius': '10px' }"></ngx-skeleton-loader>
        <ngx-skeleton-loader class="pb-3" count="1" *ngIf="loader" animation="progress" appearance="circle" [theme]="{ 'width':'100%','height':'430px','border-radius': '10px','padding':'15px' }"></ngx-skeleton-loader>
    </div>
    <div class="intrack-page" *ngIf="!loader">
        <div class="seccion1-intrack pt-5 pb-5" style="background-color: #F7FAFF;" style="background:url('{{ data.banner.fondo }}');">
            <div class="container">
                <div class="row mb-5 pt-4">
                    <div class="col-md-6 mt-3">
                        <h2 class="size48 letter-spacing-069 line-height-50 font-weight-700" [innerHTML]="data.banner.texto | safeHtml: 'html'"></h2> 
                        <p class="size21 font-weight-400 letter-spacing-1-28 line-height-29" [innerHTML]="data.banner.descripcion | safeHtml: 'html'"></p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="img-fluid img-phone" [src]="data.banner.imagen" alt="Productividad">
                    </div>
                </div>
            </div>
        </div>
        <div class="seccion2-intrack">
            <div style="background-image: linear-gradient(#f7faff, #f2f7fd);">
                <div class="container">
                    <div class="row mb-5">
                        <ng-container *ngFor="let seguimiento of data.seccion1.seguimiento">
                            <div class="col-md-4">
                                <mat-card class="card-zoom tarjetas-soluciones border-radius-22 mb-3">
                                    <img class="mb-1 d-block mx-auto img-fluid" [src]="seguimiento.icono" alt="seguimiento">
                                    <mat-card-content>
                                        <p class="size16 line-height-22 letter-spacing-024 text-center text-gray" [innerHTML]="seguimiento.descripcion | safeHtml: 'html'"></p>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </ng-container>
                    </div>
                    <div class="row pb-5">
                        <div class="col-md-5" data-aos="fade-down-left" data-aos-anchor-placement="top-center" data-aos-duration="1000">
                            <img class="img-fluid" [src]="data.seccion2.imagen" alt="Comercial">
                       </div>
                       <div class="col-md-7 my-auto" data-aos="fade-down-right" data-aos-anchor-placement="top-center" data-aos-duration="1000">
                           <h3 class="size22 ubuntu line-height-36 mb-2" [innerHTML]="data.seccion2.texto | safeHtml: 'html'"></h3>
                           <ng-container *ngFor="let icono of data.seccion2.iconos">
                               <div class="d-block">
                                    <ng-container *ngFor="let logo of icono.logo">
                                       <img class="card-zoom img-fluid" [src]="logo.url" alt="icono">
                                    </ng-container>
                                </div>
                           </ng-container>
                           <a mat-raised-button class="line-height-2-5 text-decoration-none size15 letter-spacing-042 font-weight-400 mt-5 border-radius-25 btn-intrack" [routerLink]="[data.seccion2.url_boton]">{{ data.seccion2.texto_boton }} <span class="material-icons">arrow_right_alt</span></a>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="seccion4-intrack" style="background-color: #F2F7FD;" data-aos="fade-down" data-aos-anchor-placement="top-center" data-aos-duration="1000">
            <div class="container">
                <div class="row" data-aos="fade-down-left" data-aos-anchor-placement="top-center" data-aos-duration="1000">
                    <div class="col-md-12">
                        <h2 class="text-center letter-spacing-075 line-height-32 font-weight-300 mb-5" [innerHTML]="data.seccion3.descripcion | safeHtml: 'html'"></h2>
                    </div>
                </div>
                <div class="row mb-5" data-aos="fade-down-right" data-aos-anchor-placement="top-center" data-aos-duration="1000">
                    <ng-container *ngFor="let funcionalidad of data.seccion3.funcionalidades">
                        <div class="col-md-4">
                            <div class="funcionalidad card-zoom mb-3 pr-2 pl-2 ">
                                <div class="row">
                                    <div class="col-md-3 p-0">
                                        <div class="item-img-intrack pt-5 pb-5">
                                            <img class="img-fluid" [src]="funcionalidad.icono" alt="Funcionalidad">
                                        </div>
                                    </div>
                                    <div class="col-md-9 my-auto">
                                        <p class="text-funcionalidad font-weight-400 text-black-intrack size15 letter-spacing-041 line-height-17 mb-0" [innerHTML]="funcionalidad.descripcion | safeHtml: 'html'"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <div class="row pt-5">
                    <div class="col-md-6 my-auto" data-aos="fade-down-left" data-aos-anchor-placement="top-center" data-aos-duration="1000">
                        <p class="line-height-32 font-weight-300" [innerHTML]="data.seccion4.descripcion | safeHtml: 'html'"></p>
                        <div class="mt-5 d-flex align-items-center flex-wrap justify-content-start">
                            <a *ngIf="data.seccion4.texto_boton_1" class="size15 letter-spacing-042 border-radius-50 text-decoration-none btn-intrack-fill py-2 mt-2 mb-2" mat-raised-button [routerLink]="[data.seccion4.url_boton_1]">{{ data.seccion4.texto_boton_1 }}</a>
                            <a *ngIf="data.seccion4.texto_boton_2" class="size15 letter-spacing-042 border-radius-50 text-decoration-none btn-intrack py-2 mt-2 mb-2 ml-3" mat-raised-button (click)="abrirSide()">{{ data.seccion4.texto_boton_2 }} <span class="material-icons">arrow_right_alt</span></a>
                        </div>
                    </div>
                    <div class="col-md-6" data-aos="fade-down-right" data-aos-anchor-placement="top-center" data-aos-duration="1000">
                        <img class="img-fluid" [src]="data.seccion4.imagen" alt="Gestión">
                    </div>
                </div>
            </div>
            <div class="seccion5 pt-50 pb-50" *ngIf="data.seccion5">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7" data-aos="fade-down-left" data-aos-anchor-placement="top-center" data-aos-duration="1000">
                            <div class="row justify-content-end mb-2">
                                <ng-container *ngFor="let beneficio of data.seccion5.beneficios">
                                    <div class="beneficio-intrack d-flex p-2 m-1 card-zoom">
                                        <img class="img-fluid d-inline-block float-left mr-2" [src]="beneficio.icono" alt="Implementación">
                                        <p class="size18 font-weight-700 line-height-22 letter-spacing-05 text-gray d-flex align-self-center mb-0">{{ beneficio.texto }}</p>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="col-md-5 my-auto" data-aos="fade-down-right" data-aos-anchor-placement="top-center" data-aos-duration="1000">
                            <p class="text-gray letter-spacing-097 line-height-36" [innerHTML]="data.seccion5.descripcion | safeHtml: 'html'"></p>
                            <a mat-raised-button class="line-height-2-5 text-decoration-none btn-intrack-fill size15 border-radius-25 font-weight-400" [href]="data.seccion5.url_boton" target="blank">{{ data.seccion5.texto_boton }}<span class="material-icons">arrow_right_alt</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-100">
                <div class="row" data-aos="fade-top" data-aos-anchor-placement="top-center" data-aos-duration="1000">
                    <div class="col-md-12">
                        <h2 class="size35 font-weight-700 letter-spacing-097 line-height-46 text-red-intrack text-center mb-5"><img [src]="data.seccion6.icono"> {{ data.seccion6.titulo }}</h2>
                        <owl-carousel-o [options]="customOptions">
                            <ng-container *ngFor="let galeria of data.seccion6.galeria">
                              <ng-template carouselSlide [id]="galeria.id">
                                <img [src]="galeria.url" alt="logos" title="clientes">
                              </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
            <div class="container mt-100">
                <div class="row">
                    <div class="col-md-6" data-aos="fade-down-left" data-aos-anchor-placement="top-center" data-aos-duration="1000">
                        <img class="img-fluid" src="./assets/images/intrack/seccion6.png" alt="suscripción">
                    </div>
                    <div class="col-md-6 my-auto" data-aos="fade-down-right" data-aos-anchor-placement="top-center" data-aos-duration="1000">
                        <p class="size35 font-weight-700 letter-spacing-1-13 line-height-45 text-red-intrack mb-0">{{ data.seccion7.titulo }}</p>  
                        <p class="letter-spacing-1-13 line-height-45 text-black-intrack" [innerHTML]="data.seccion7.descripcion | safeHtml: 'html'"></p>   
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-white pt-5 pb-5 mt-5" *ngIf="data.seccion8">
            <div style="background:url('{{ data.seccion8.icono_fondo_1 }}');background-repeat: no-repeat;background-position: left top;margin-top:-60px">
                <div style="background:url('{{ data.seccion8.icono_fondo_2 }}');background-repeat: no-repeat;background-position: right;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <img class="img-fluid mx-auto d-block mb-2" [src]="data.seccion8.imagen" alt="Logo Smartsuite">
                                <h4 class="text-center text-gray letter-spacing-009 line-height-24" [innerHTML]="data.seccion8.descripcion | safeHtml: 'html'"></h4>
                                <a class="size15 letter-spacing-042 d-block border-radius-25 text-decoration-none btn-intrack mt-3 d-inline-block w-20 mx-auto" mat-raised-button [href]="data.seccion8.url_boton" target="_blank">{{ data.seccion8.texto_boton }} <span class="material-icons">arrow_right_alt</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-animate-contacto></app-animate-contacto>
    </div>
    <app-sidebar-intrack></app-sidebar-intrack>
</div>