<div class="pagina-full" id="wrapper">
    <div class="sticky-intrack">
        <nav class="navbar navbar-expand-lg navbar-light bg-white box-shadow-menu">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="/intrack"><img src="./assets/images/intrack/logo.png" alt="Logo principal" class="img-logo"></a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto d-lg-none d-xl-none">
                        <li class="nav-item">
                            <a class="nav-link nav-link-main" href="#">Funcionalidades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-main" href="/precios-intrack">Precios</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav main-menu-list mr-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-link-main size16" href="#">Funcionalidades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-main size16" href="/precios-intrack">Precios</a>
                        </li>
                    </ul>
                    <button mat-raised-button class="btn-intrack-fill w-15 size18 border-radius-2 font-weight-400" (click)="abrirSide()">Demo</button>
                </div>
            </div>
        </nav>
    </div>

    <div class="intrack-page">
        <div class="seccion1-intrack pt-5 pb-5" style="background-color: #F7FAFF;">
            <div class="container">
                <div class="row mb-5 pt-4">
                    <div class="col-md-6 my-auto">
                        <h2 class="size46 letter-spacing-069 line-height-50 font-weight-700 ubuntu mb-2 text-red-intrack">Controla y localiza
                            con un solo clic.                                
                        </h2> 
                        <p class="size23 font-weight-400 text-gray letter-spacing-1-28 line-height-29">Realiza el seguimiento GPS en tiempo real de tu equipo de trabajo de forma simple desde un dispositivo móvil.</p>
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" src="../assets/images/intrack/seccion1.png" alt="Procesos">
                    </div>
                </div>
            </div>
        </div>
        <div class="seccion2-intrack pb-5" style="background-image: linear-gradient(#f7faff, #f2f7fd);">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-4">
                        <mat-card class="card-zoom tarjetas-soluciones border-radius-22 mb-3">
                            <img class="mb-1 d-block mx-auto img-fluid" src="../assets/images/intrack/icono1.png" alt="Icono 1">
                            <mat-card-content>
                              <p class="size16 line-height-22 letter-spacing-024 text-center text-gray">
                                <strong>Cuenta con una solución que envía cada cierto tiempo coordenadas GPS</strong> que ubican a tu personal de campo.
                              </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-md-4">
                        <mat-card class="card-zoom tarjetas-soluciones border-radius-22 mb-3">
                            <img class="mb-1 d-block mx-auto img-fluid" src="../assets/images/intrack/icono2.png" alt="Icono 2">
                            <mat-card-content>
                                <p class="size16 line-height-22 letter-spacing-024 text-center text-gray">
                                    <strong>Controla en tiempo real la ubicación</strong>, tiempo de paradas, ingresos y salidas de zonas.
                                </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                    <div class="col-md-4">
                        <mat-card class="card-zoom tarjetas-soluciones border-radius-22 mb-3">
                            <img class="mb-1 d-block mx-auto img-fluid" src="../assets/images/intrack/icono3.png" alt="Icono 3">
                            <mat-card-content>
                            <p class="size16 line-height-22 letter-spacing-024 text-center text-gray">
                                <strong>Visualiza en línea</strong> los diferentes desplazamientos realizados por <br>tu equipo.
                            </p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </div>
                <div class="row pb-5">
                    <div class="col-md-5">
                        <img class="img-fluid" src="../assets/images/intrack/seccion3.png" alt="Aplicación móvil">
                    </div>
                    <div class="col-md-7 my-auto">
                        <p class="size25 letter-spacing-069 text-gray line-height-33 font-weight-400"><strong>Adquiere una aplicación móvil y web en la nube</strong> ideal para transformar la gestión de localización de tu equipo de trabajo.
                        </p>
                        <img class="card-zoom img-fluid" src="../assets/images/ontime/androidPNG.png" alt="Android">
                        <button mat-raised-button class="text-decoration-none size15 letter-spacing-042 font-weight-400 d-block mt-5 border-radius-25 btn-intrack">Realiza el seguimiento de tu personal de campo con In Track <span class="material-icons">arrow_right_alt</span></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="seccion4-intrack" style="background-color: #F2F7FD;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="text-black text-center size27 letter-spacing-075 line-height-32 font-weight-300 ubuntu mb-5"><span class="font-weight-700 text-red-intrack">Funcionalidades de una solución sencilla</span><br>
                            para el seguimiento de tu personal</h2>
                    </div>
                </div>
                <div class="row mb-5">
                    <div class="col-md-4">
                        <div class="funcionalidad card-zoom mb-3 mr-2 ml-2">
                            <div class="row">
                                <div class="col-md-3 p-0">
                                    <div class="item-img-intrack pt-4 pb-4">
                                        <img class="img-fluid" src="../assets/images/intrack/funcion1.png" alt="Funcionalidad">
                                    </div>
                                </div>
                                <div class="col-md-9 my-auto">
                                    <p class="text-funcionalidad font-weight-400 text-black-intrack size15 letter-spacing-041 line-height-17 mb-0">Envío de localización <br>permanente</p>
                                </div>
                            </div>
                        </div>
                        <div class="funcionalidad card-zoom mb-3 mr-2 ml-2">
                            <div class="row">
                                <div class="col-md-3 p-0">
                                    <div class="item-img-intrack pt-4 pb-4">
                                        <img class="img-fluid" src="../assets/images/intrack/funcion2.png" alt="Funcionalidad">
                                    </div>
                                </div>
                                <div class="col-md-9 my-auto">
                                    <p class="text-funcionalidad font-weight-400 text-black-intrack size15 letter-spacing-041 line-height-17 mb-0">Configuración de estados personalizados (Hasta 10 eventos)</p>
                                </div>
                            </div>
                        </div>
                        <div class="funcionalidad card-zoom mb-3 mr-2 ml-2">
                            <div class="row">
                                <div class="col-md-3 p-0">
                                    <div class="item-img-intrack pt-4 pb-4">
                                        <img class="img-fluid" src="../assets/images/intrack/funcion3.png" alt="Funcionalidad">
                                    </div>
                                </div>
                                <div class="col-md-9 my-auto">
                                    <p class="text-funcionalidad font-weight-400 text-black-intrack size15 letter-spacing-041 line-height-17 mb-0">Botón SOS</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="funcionalidad card-zoom mb-3 mr-2 ml-2">
                            <div class="row">
                                <div class="col-md-3 p-0">
                                    <div class="item-img-intrack pt-4 pb-4">
                                        <img class="img-fluid" src="../assets/images/intrack/funcion4.png" alt="Funcionalidad">
                                    </div>
                                </div>
                                <div class="col-md-9 my-auto">
                                    <p class="text-funcionalidad font-weight-400 text-black-intrack size15 letter-spacing-041 line-height-17 mb-0">Creación Geo-Cerca para reporte de entrada o salida de una zona asignada</p>
                                </div>
                            </div>
                        </div>
                        <div class="funcionalidad card-zoom mb-3 mr-2 ml-2">
                            <div class="row">
                                <div class="col-md-3 p-0">
                                    <div class="item-img-intrack pt-4 pb-4">
                                        <img class="img-fluid" src="../assets/images/intrack/funcion5.png" alt="Funcionalidad">
                                    </div>
                                </div>
                                <div class="col-md-9 my-auto">
                                    <p class="text-funcionalidad font-weight-400 text-black-intrack size15 letter-spacing-041 line-height-17 mb-0">Sincronización On-Line y Off-Line de sitios recorridos</p>
                                </div>
                            </div>
                        </div>
                        <div class="funcionalidad card-zoom mb-3 mr-2 ml-2">
                            <div class="row">
                                <div class="col-md-3 p-0">
                                    <div class="item-img-intrack pt-4 pb-4">
                                        <img class="img-fluid" src="../assets/images/intrack/funcion6.png" alt="Funcionalidad">
                                    </div>
                                </div>
                                <div class="col-md-9 my-auto">
                                    <p class="text-funcionalidad font-weight-400 text-black-intrack size15 letter-spacing-041 line-height-17 mb-0">Informe detallado de las prosiciones GPS reportadas, velocidad, nivel de batería, ciudad, entre otros</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="funcionalidad card-zoom mb-3 mr-2 ml-2">
                            <div class="row">
                                <div class="col-md-3 p-0">
                                    <div class="item-img-intrack pt-4 pb-4">
                                        <img class="img-fluid" src="../assets/images/intrack/funcion7.png" alt="Funcionalidad">
                                    </div>
                                </div>
                                <div class="col-md-9 my-auto">
                                    <p class="text-funcionalidad font-weight-400 text-black-intrack size15 letter-spacing-041 line-height-17 mb-0">Configuración de envío de localización (Mínimo 3 minutos)</p>
                                </div>
                            </div>
                        </div>
                        <div class="funcionalidad card-zoom mb-3 mr-2 ml-2">
                            <div class="row">
                                <div class="col-md-3 p-0">
                                    <div class="item-img-intrack pt-4 pb-4">
                                        <img class="img-fluid" src="../assets/images/intrack/funcion8.png" alt="Funcionalidad">
                                    </div>
                                </div>
                                <div class="col-md-9 my-auto">
                                    <p class="text-funcionalidad font-weight-400 text-black-intrack size15 letter-spacing-041 line-height-17 mb-0">Consulta de última coordenada capturada y recorridos por usuario</p>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="row pt-5">
                    <div class="col-md-6 my-auto">
                        <p class="text-black size29 letter-spacing-225 line-height-32 font-weight-300"><span class="font-weight-700 text-red-intrack">Cuenta con una aplicación que  localizará y optimizará</span><br>
                            la gestión del personal de campo de forma ágil y segura.</p>
                        <div class="row mt-5">
                            <div class="col-md-6">
                                <a class="w-100 size15 letter-spacing-042 d-block border-radius-25 text-decoration-none btn-intrack-fill mt-2 mb-2" mat-raised-button href="#" target="_blank">Explora In Track
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a class="size15 letter-spacing-042 d-block border-radius-25 text-decoration-none btn-intrack mt-2 mb-2" mat-raised-button href="#" target="_blank">¡Solicita un DEMO! <span class="material-icons">arrow_right_alt</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" src="../assets/images/intrack/seccion4.png" alt="Gestión">
                    </div>
                </div>
            </div>
            <div class="container mt-100">
                <div class="row">
                    <div class="col-md-7">
                        <div class="row justify-content-end mb-2 align-items-center">
                            <div class="beneficio-intrack d-flex p-2 mr-2">
                                <img class="img-fluid d-inline-block float-left mr-2" src="./assets/images/intrack/beneficios1.png" alt="Implementación">
                                <p class="size17 font-weight-700 line-height-22 letter-spacing-05 text-gray d-flex align-self-center mb-0">Soporte 24/7</p>
                            </div>
                            <div class="beneficio-intrack d-flex p-2 mr-2">
                                <img class="img-fluid d-inline-block float-left mr-2" src="./assets/images/intrack/beneficios2.png" alt="Implementación">
                                <p class="size17 font-weight-700 line-height-22 letter-spacing-05 text-gray d-flex align-self-center mb-0">Implementación rápida</p>
                            </div>
                        </div>
                        <div class="row justify-content-end mb-2 align-items-center">
                            <div class="beneficio-intrack d-flex p-2 mr-2">
                                <img class="img-fluid d-inline-block float-left mr-2" src="./assets/images/intrack/beneficios3.png" alt="Implementación">
                                <p class="size17 font-weight-700 line-height-22 letter-spacing-05 text-gray d-flex align-self-center mb-0">Seguro, fácil y rápido aprendizaje</p>
                            </div>
                            <div class="beneficio-intrack d-flex p-2 mr-2 align-items-center">
                                <img class="img-fluid d-inline-block float-left mr-2" src="./assets/images/intrack/beneficios4.png" alt="Implementación">
                                <p class="size17 font-weight-700 line-height-22 letter-spacing-05 text-gray d-flex align-self-center mb-0">Infraestructura 24/7</p>
                            </div>
                        </div>
                        <div class="row justify-content-end mb-2 align-items-center">
                            <div class="beneficio-intrack d-flex p-2 mr-2">
                                <img class="img-fluid d-inline-block float-left mr-2" src="./assets/images/intrack/beneficios5.png" alt="Implementación">
                                <p class="size17 font-weight-700 line-height-22 letter-spacing-05 text-gray d-flex align-self-center mb-0">Acompañamiento durante el proceso de implementación</p>
                            </div>
                        </div>
                        <div class="row justify-content-end mb-2 align-items-center">
                            <div class="beneficio-intrack d-flex p-2 mr-2">
                                <img class="img-fluid d-inline-block float-left mr-2" src="./assets/images/intrack/beneficios6.png" alt="Implementación">
                                <p class="size17 font-weight-700 line-height-22 letter-spacing-05 text-gray d-flex align-self-center mb-0">Actualizaciones y mantenimiento gratis</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 my-auto">
                        <p class="size30 font-weight-300 text-gray letter-spacing-1 line-height-36"><span class="font-weight-700 size36">Haz parte de los  beneficios<br></span>
                            que harán tu equipo más productivo y tu negocio más rentable</p>
                        <button mat-raised-button class="text-decoration-none btn-intrack-fill size15 border-radius-25 font-weight-400 ubuntu">Contáctanos<span class="material-icons">arrow_right_alt</span></button>
                    </div>
                </div>
            </div>
            <div class="container mt-100">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="size35 font-weight-700 letter-spacing-097 line-height-46 text-red-intrack text-center ubuntu clientes-intrack-title mb-5">Nuestros clientes</h2>
                        <div class="gallery js-flickity" data-flickity='{ "autoPlay": true, "wrapAround": true, "prevNextButtons": false,
                "pageDots": false, "imagesLoaded": true }'>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="./assets/images/intrack/cliente1.png" alt="slide1" />
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="./assets/images/intrack/cliente2.png" alt="slide2" />
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="./assets/images/intrack/cliente3.png" alt="slide3" />
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="./assets/images/intrack/cliente4.png" alt="slide4" />
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="./assets/images/intrack/cliente5.png" alt="slide5" />
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="./assets/images/intrack/cliente6.png" alt="slide6" />
                            </div>
                            <div class="carousel-cell">
                                <img class="img-fluid" src="./assets/images/intrack/cliente7.png" alt="slide7" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-100">
                <div class="row">
                    <div class="col-md-6">
                        <img class="img-fluid" src="./assets/images/intrack/seccion6.png" alt="suscripción">
                    </div>
                    <div class="col-md-6 my-auto">
                        <p class="size35 font-weight-700 letter-spacing-1-13 line-height-45 text-red-intrack mb-0">Adquiere In Track</p>  
                        <p class="size35 letter-spacing-1-13 line-height-45 text-black-intrack">Por una suscripción mensual a partir de los <strong>$4 USD</strong></p>   
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-5 pb-5" style="background-color: #FFF;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <img class="img-fluid mx-auto d-block mb-2" src="./assets/images/logo_smartsuit.png" alt="Logo Smartsuite">
                        <p class="text-center text-gray size16 letter-spacing-009 line-height-24 font-weight-300 mb-0">Contamos con múltiples soluciones para que optimices la gestión de todas tus áreas de trabajo.</p>
                        <p class="text-center text-black-intrack size25 letter-spacing-009 line-height-24 font-weight-700">¡Conoce nuestra suite y amplia tu paquete!</p>
                        <a class="size15 letter-spacing-042 d-block border-radius-25 text-decoration-none btn-intrack mt-3 d-inline-block w-20 mx-auto" mat-raised-button href="#" target="_blank">Contáctanos <span class="material-icons">arrow_right_alt</span></a>
                    </div>
                </div>
            </div>
        </div>
        <app-animate-contacto></app-animate-contacto>
    </div>
    <div class="bg-light border-right p-4" id="sidebar-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-7">
                    <img class="img-fluid" src="./assets/images/intrack/sidenav.png" alt="Sidenav">
                </div>
                <div class="col-sm-12 col-md-5 my-auto">
                    <p class="size21 text-gray font-weight-700 letter-spacing-1-28 line-height-24 text-uppercase">Estás a punto de conocer la mejor herramienta para tu trabajo</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form (ngSubmit)="enviarForm(formularioSidenav)" #formularioSidenav="ngForm" id="formulario-Sidenav" class="sidenav-contact">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-row pt-2 pb-2">
                                    <label class="size16 text-gray" for="empresa">Empresa</label>
                                    <input type="text" class="form-control" id="empresa" name="empresa" #empresa="ngModel" [(ngModel)]="userside.empresa" placeholder="Neuromedia Agencia Digital SAS" required>
                                    <small style="color:#c30000;" *ngIf="empresa.invalid && (empresa.dirty || empresa.touched)">
                                        Empresa es un campo requerido.
                                    </small>
                                </div>
                                <div class="form-row pt-2 pb-2">
                                    <label class="size16 text-gray" for="nombres">Nombre completo</label>
                                    <input type="text" class="form-control" id="nombres" name="nombres" #nombres="ngModel" [(ngModel)]="userside.nombres" placeholder="Nombre completo" required>
                                    <small style="color:#c30000;" *ngIf="nombres.invalid && (nombres.dirty || nombres.touched)">
                                        Nombres es un campo requerido.
                                    </small>
                                </div>
                                <div class="form-row pt-2 pb-2">
                                    <label class="size16 text-gray" for="telefono">Número de Teléfono</label>
                                    <input type="tel" class="form-control" id="telefono" name="telefono" #telefono="ngModel" [(ngModel)]="userside.telefono" pattern="^\d+$" placeholder="3120000000" required>
                                    <small style="color:#c30000;" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                                        Ingrese un teléfono válido.
                                    </small>
                                </div>
                                <div class="form-row pt-2 pb-2">
                                    <label class="size16 text-gray" for="email">Correo Electrónico</label>
                                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" [(ngModel)]="userside.email" email="true" placeholder="neuromedia@gmail.com" required>
                                    <small style="color:#c30000;" *ngIf="email.invalid && (email.dirty || email.touched)">
                                        Ingrese un correo electrónico válido.
                                    </small>
                                </div>
                                <div class="form-row form-group pt-2 pb-2 mb-0">
                                    <label class="size16 text-gray" for="producto">Producto</label>
                                    <select class="form-control tipo-producto" id="selectProducto" name="producto" #producto="ngModel" [(ngModel)]="userside.producto" required>
                                    <option value="" disabled>Elija una opción</option>
                                    <option>Smart Sales</option>
                                    <option>On Time</option>
                                    <option>Mobile Forms</option>
                                    <option>Care Task</option>
                                    <option>In track</option>
                                    <option>On Check</option>
                                    </select>
                                    <small style="color:#c30000;" *ngIf="producto.invalid && (producto.dirty || producto.touched)">
                                        El Producto es un campo requerido.
                                    </small>
                                </div>
                                <div class="form-check">
                                    <input type="checkbox" name="acepto" #acepto="ngModel" [(ngModel)]="userside.acepto" class="form-check-input" id="acepto" required>
                                    <label class="size16 text-gray" for="acepto">Conozco y acepto la política de datos</label>
                                    <small style="color:#c30000;" *ngIf="acepto.invalid && (acepto.dirty || acepto.touched)">
                                        Debe aceptar las condiciones.
                                    </small>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="submit" class="float-left btn btn-intrack-fill size15 border-radius-25 mt-4 w-100 mx-auto d-block mb-2" name="enviar" value="Solicitar demo" [disabled]="formularioSidenav.invalid">
                                    </div>
                                    <div class="col-md-6">
                                        <a mat-button class="line-height-1-5 p-cancel-sidebar w-100 border-radius-25 size15 btn-intrack mt-4 mb-2 text-decoration-none" (click)="cierraTrabajemos()">Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>